

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>


    <div class="main-header">
        <script type="text/javascript">
            $(document).ready(() => {
                const connection = new signalR.HubConnectionBuilder()
                    .withUrl("https://localhost:7172/SignalRHub")
                    .build();

                $("#connstatus").text(connection.state);

                connection.start()
                    .then(() => {
                        $("#connstatus").text(connection.state);
                        setInterval(() => {
                            connection.invoke("SendNotificationService");
                        }, 1000);
                    })
                    .catch((err) => {
                        console.log(err);
                    });

                connection.on("ReceiveNotificationCountByFalse", (value) => {
                    $("#notificationCount").text(value);
                });

                connection.on("ReceiveNotificationByFalse", (notifications) => {
                    console.log(notifications);
                    $("#notilist").empty();
                    notifications.forEach((notification) => {
                        $("#notilist").append(`
                                          <a style="text-decoration:none;" href="#">
                                            <div class="${notification.type}">
                                                <i class="${notification.icon}"></i>
                                            </div>
                                            <div class="notif-content">
                                                <span class="block">${notification.description}</span>
                                                <span class="time">${notification.date}</span>
                                            </div>
                                        </a>
                                    `);
                    });
                });
            });
        </script>

        <div class="logo-header">
            <a href="index.html" class="logo">SignalR Admin</a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>

        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">
                <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                    <div class="input-group">
                        <input type="text" placeholder="Search ..." class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-search search-icon"></i>
                            </span>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-envelope"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Inbox</a>
                            <a class="dropdown-item" href="#">Reservations</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Communication</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-bell"></i>
                            <span class="notification" id="notificationCount"></span>
                        </a>
                        <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                            <li>
                                <div class="dropdown-title">There are New Notifications</div>
                            </li>
                            <li>
                                <div class="notif-center">
                                    <div id="notilist"></div>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="/Notifications/Index/">
                                    <strong>See all notifications</strong>
                                    <i class="la la-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user-img" width="36" class="img-circle">
                            <span>Admin</span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="u-img"><img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4>Admin</h4>
                                        <p class="text-muted">signalR@gmail.com</p>
                                        <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">See Menu</a>
                                    </div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href=""><i class="ti-user"></i> Menu</a>
                            <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                            <a class="dropdown-item" href="#"><i class="ti-email"></i> Reservation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="ti-settings"></i> Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

