@model UpdateFeatureVM

@{
	ViewData["Title"] = "CreateFeature";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Create Feature</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">New Feature</div>
						</div>
						<input type="hidden" asp-for="FeatureId" />
						<div class="card-body">
							<div class="form-group">
								<label for="Title1">Enter title 1st</label>
								<input type="text" asp-for="Title1" class="form-control" id="Title1">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title2">Enter title 2st</label>
								<input type="text" asp-for="Title2" class="form-control" id="Title2">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title3">Enter title 3st</label>
								<input type="text" asp-for="Title3" class="form-control" id="Title3">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description1">Enter Description 1st</label>
								<input type="text" asp-for="Description1" class="form-control" id="Description1">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description2">Enter Description 2st</label>
								<input type="text" asp-for="Description2" class="form-control" id="Description2">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description3">Enter Description 3st</label>
								<input type="text" asp-for="Description3" class="form-control" id="Description3">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Update</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
