
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>


<style>

	.yell{
		background-color: #f58c0b;
	}

	.gren{
		background-color: #079318;
	}

	.red{
		background-color: #d50d18;
	}


</style>

<div class="content">
	<div class="container-fluid">

		<script type="text/javascript">

			$(document).ready(() => {

				var connection = new signalR.HubConnectionBuilder()
					.withUrl("https://localhost:7172/SignalRHub").build();

				$("#connstatus").text(connection.state);
				connection.start().then(() => {
					$("#connstatus").text(connection.state);
					setInterval(() => {
						connection.invoke("SendStatistic");
					}, 1000);

				}).catch((err) => { console.log(err) });


				connection.on("ReceiveCategoryCount", (value) => {
					$("#categorycount").text(value);
				})

				connection.on("ReceiveProductCount", (value) => {
					$("#productcount").text(value);
				})
				connection.on("ReceiveActiveCategoryCount", (value) => {
					$("#activecategorycount").text(value);
				})
				connection.on("ReceivePassiveCategoryCount", (value) => {
					$("#passivecategorycount").text(value);
				})
				connection.on("ReceiveProductCountByCategoryNameHamburgerCount", (value) => {
					$("#hamburgercount").text(value);
				})
				connection.on("ReceiveroductCountByCategoryNameDrinkCount", (value) => {
					$("#drinkcount").text(value);
				})
				connection.on("ReceiveProductPriceAvg", (value) => {
					$("#priceavg").text(value);
				})
				connection.on("ReceiveProductNameByMaxPrice", (value) => {
					$("#maxprice").text(value);
				})
				connection.on("ReceiveProductNameByMinPrice", (value) => {
					$("#minprice").text(value);
				})
				connection.on("ReceiveProductAvgPriceByHamburger", (value) => {
					$("#avgpricebyhamburger").text(value);
				})
				connection.on("ReceiveTotalOrderCount", (value) => {
					$("#totalordercount").text(value);
				})
				connection.on("ReceiveActiveOrderCount", (value) => {
					$("#activeordercount").text(value);
				})
				connection.on("ReceiveLastOrderPirce", (value) => {
					$("#lastordercount").text(value);
				})
				connection.on("ReceiveTotalMoneyCaseAmount", (value) => {
					$("#totalmoneycaseamount").text(value);
				})

				connection.on("ReceiveMenuTabelCount", (value) => {
					$("#tablecount").text(value);
				})
			});
		</script>

		<h4 class="page-title">Instant Statistics Page</h4>
      <div class="row">
	<div class="col-md-3">
		<div class="card card-stats yell card-warning">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
					<i class="fa-solid fa-layer-group"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Category Count</p>
							<h4 class="card-title" id="categorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats gren card-success">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
									<i class="fa-solid fa-pizza-slice"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Product Count</p>
									<h4 class="card-title" id="productcount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats red card-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
						<i class="fa-solid fa-list"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Active Category</p>
									<h4 class="card-title" id="activecategorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-primary">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
									<i class="fa-solid fa-xmark"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Passive Category</p>
									<h4 class="card-title" id="passivecategorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   </div>

		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats yell card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-burger"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Hamburger</p>
									<h4 class="card-title" id="hamburgercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats gren card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-beer-mug-empty"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Drink Category</p>
									<h4 class="card-title" id="drinkcount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats red card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-money-bill-1-wave"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Average price</p>
									<h4 class="card-title" id="priceavg"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-star"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Most Expensive</p>
									<h4 class="card-title" id="maxprice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats yell card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-wheat-awn-circle-exclamation"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Cheapest</p>
									<h4 class="card-title" id="minprice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats gren card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-chart-simple"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Hamburger Price</p>
									<h4 class="card-title" id="avgpricebyhamburger"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats red card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-circle-dollar-to-slot"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Total Order</p>
									<h4 class="card-title" id="totalordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-heart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Active order</p>
									<h4 class="card-title" id="activeordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats yell card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-box-archive"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Last Order</p>
									<h4 class="card-title" id="lastordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats gren card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-building-columns"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Amount in Cash</p>
									<h4 class="card-title" id="totalmoneycaseamount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats red card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-utensils"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Today's Earnings</p>
									<h4 class="card-title">450.0$</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fa-solid fa-chair"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Table Count</p>
									<h4 class="card-title" id="tablecount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
