<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						AdminPanel
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Menu/Index/">
								<span class="link-collapse">See Menu</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Home/Index/">
					<i class="la la-paste"></i>
					<p>Home Page</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Menu/Index/">
					<i class="la la-medium"></i>
					<p>See Menu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index">
					<i class="la la-keyboard-o"></i>
					<p>Categories</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Product/Index">
					<i class="la la-birthday-cake"></i>
					<p>Products</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Booking/Index">
					<i class="la la-bell"></i>
					<p>Reservations</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-font"></i>
					<p>About Us</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Slider/Index">
					<i class="la la-flag"></i>
					<p>Slider Text</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Discount/Index">
					<i class="la la-money"></i>
					<p>Discounts</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-phone-square"></i>
					<p>Contacts</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-group"></i>
					<p>References</p>

				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index/">
					<i class="la la-map-marker"></i>
					<p>Social Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index/">
					<i class="la la-pie-chart"></i>
					<p>Statistics</p>
	
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/Index/">
					<i class="la la-optin-monster"></i>
					<p>Tables</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/TableListByStatus/">
					<i class="la la-ship"></i>
					<p>Table situations</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index/">
					<i class="la la-weixin"></i>
					<p>Message Page</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notifications/Index/">
					<i class="la la-commenting-o"></i>
					<p>Notifications</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars/Index/">
					<i class="la la-bar-chart"></i>
					<p>Current Status Bar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Setting/Index/">
					<i class="la la-chain"></i>
					<p>Settings</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-dropbox"></i>
					<p>Log Out</p>
				</a>
			</li>

		</ul>
	</div>
</div>