<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						AdminPanel
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">See Menu</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Update password</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="components.html">
					<i class="la la-table"></i>
					<p>See Menu</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index">
					<i class="la la-keyboard-o"></i>
					<p>Categories</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Product/Index">
					<i class="la la-th"></i>
					<p>Products</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Booking/Index">
					<i class="la la-bell"></i>
					<p>Reservations</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-font"></i>
					<p>About Us</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Messages</p>
					<span class="badge badge-count">6</span>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Feature/Index">
					<i class="la la-fonticons"></i>
					<p>Features</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Discount/Index">
					<i class="la la-fonticons"></i>
					<p>Discounts</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-fonticons"></i>
					<p>Contacts</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-fonticons"></i>
					<p>References</p>

				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index">
					<i class="la la-fonticons"></i>
					<p>Social Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Statistics</p>
					<span class="badge badge-count">6</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Settings</p>
					<span class="badge badge-count">6</span>

				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Log Out</p>
					<span class="badge badge-count">6</span>

				</a>
			</li>

		</ul>
	</div>
</div>