@model DetailInboxVM


@{
    ViewData["Title"] = "DetailInbox";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Update About</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Update About</div>
						</div>
						<input type="hidden" asp-for="MessageId" />

						<div class="card-body">
							<div class="form-group">
								<label for="name">Name Surname</label>
								<input disabled type="text" asp-for="NameSurname" class="form-control" id="name">
							</div>
							<div class="form-group">
								<label for="name">Subject</label>
								<input disabled type="text" asp-for="Subject" class="form-control" id="name">
							</div>
							<div class="form-group">
								<label for="name">Email</label>
								<input disabled type="text" asp-for="Email" class="form-control" id="name">
							</div>
							<div class="form-group">
								<label for="Description">Message Content</label>
								<textarea disabled type="text" rows="5" asp-for="MessageContent" class="form-control" id="Description"></textarea>
							</div>
							<div class="form-group">
								<label for="ImageUrl">Update ImageUrl</label>
								<input disabled type="text" asp-for="MessageSendDate" class="form-control" id="ImageUrl">
							</div>
						</div>

						<a href="/Inbox/Index/" class="btn btn-primary"> Back</a>


					</div>

				</form>
			</div>
		</div>
	</div>
</div>

