@model CreateDiscountVM

@{
	ViewData["Title"] = "CreateDiscount";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Discounted Product transactions</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">New Discounted Product Initiative</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Enter the Product name</label>
								<input type="text" asp-for="Title" class="form-control" id="name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Amount">Enter the Product Discount Rate</label>
								<input type="text" asp-for="Amount" class="form-control" id="Amount">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Enter the Product Image</label>
								<input type="text" asp-for="ImageUrl" class="form-control" id="name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Description</label>
								<input type="text" asp-for="Description" class="form-control" id="Description">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Submit</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
