<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_UILayoutNavbarComponetPartial")

    @RenderBody()
    @await Component.InvokeAsync("_UILayoutFooterComponetPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponetPartial")

 
</body>

</html>